- content_for :meta_tags do
  - title = "Workshop at #{workshop.host.name}"
  - description = "codebar #{workshop.chapter.name} workshop at #{workshop.host.name} on #{humanize_date(workshop.date_and_time, with_time: true)}"
  %meta{ property: 'twitter:card', content: 'summary' }
  %meta{ property: 'twitter:image', content: 'https://codebar.io/images/twitter-summary-card-image.png' }
  %meta{ property: 'twitter:site', content: '@codebar' }
  %meta{ property: 'twitter:title', content: title }
  %meta{ property: 'twitter:description', content: description }
  %meta{ property: 'twitter:image:alt', content: 'codebar logo' }