- content_for :meta_tags do
  - title = "Workshop at #{workshop.host.name}"
  - slack_description = "codebar #{workshop.chapter.name}"
  %meta{ property: 'og:title', content: title }
  %meta{ property: 'og:description', content: slack_description }
  %meta{ property: 'og:image', content: image_url('social-summary-card-image.png') }
