= render partial: 'shared/title', locals: { title: "Coding is easier than you think", date: nil }
%section
  .container
    .row
      .medium-8.columns
        %h1 You're coming to codebar!
        %p
          Thanks for signing up to this codebar event! We're looking forward to seeing you.
          Please be sure you've read our #{link_to 'Code of Conduct', code_of_conduct_path} before attending.

        - if @coach
          %p As a coach, you don't need to bring anything except patience and a willingness to teach. It can be handy to have a notebok and pen, though.
        - else
          %p You'll need to bring your laptop with you, but you shouldn't need anything else.

        %p
          We're looking forward to seeing you at codebar soon!
          = link_to "Drop us an email", "mailto:hello@codebar.io"
          if you have any questions.
        %p
          = link_to "« Return to the workshop page", workshop_path(@workshop)

