%p Please let us know if you will be attending our session by setting your attendance status.

%p In our coding sessions, you will get to go through any of our available tutorials with help from our coaches. Our latest tutorial is <b> #{@invitation.sessions.title}</b> - #{@invitation.sessions.description}
