%p In our workshops, you will get to go through any of our available tutorials, ask for programming advice or get help on your own projects.

%p In case you are unable to attend after you RSVP, please make sure you come back and update your attendance. We have limited space and do a coaches request depending on the number of attending students.

%p Please make sure you <b>bring your laptop</b> with you.

- unless @invitation.sessions.invite_note.blank?
  %p
    = @invitation.sessions.invite_note.html_safe

%p PS: There will also be food at the workshop. We always make an effort to have vegetarian, vegan and gluten-free options available. If you have any other dietary requirements, send us email at #{mail_to @invitation.sessions.chapter.email, @invitation.sessions.chapter.email}.
