- csv_string = CSV.generate do |csv|
  - @invitation.sessions.attending_students.each do |invitation|
    - csv << [invitation.member.full_name, 'STUDENT ' + truncate(invitation.note, length: 100 ) ]
  - @invitation.sessions.attending_coaches.each do |invitation|
    - csv << [ invitation.member.full_name, 'COACH' ]
= csv_string
