.container
  %p
    This page is useful to see all the invitations acted upon, meaning any people
    that RSVPed attending or not attending.
  %p
    You can also see if an invitation has been overridden by an organiser,
    usually to manually add/remove people from workshops.

  %table.table.table-striped.students-table
    %thead
      %tr
        %th{ scope: "col" } Student
        %th{ scope: "col" } Attending?
        %th{ scope: "col" } Overriden by organiser?
    %tbody
      - @student_invitations.each do |invitation|
        = render partial: 'admin/workshops/activity',
          locals: { invitation: invitation }

.container
  %table.table.table-striped.coaches-table
    %thead
      %tr
        %th{ scope: "col" } Coach
        %th{ scope: "col" } Attending?
        %th{ scope: "col" } Overriden by organiser?
    %tbody
      - @coach_invitations.each do |invitation|
        = render partial: 'admin/workshops/activity',
          locals: { invitation: invitation }
