%section#wall-of-fame
  .titlebox.mission
    %h2
      Wall of Fame
    .dot
  %ul
    - @coaches.each do |coach|
      %li.coach
        .avatar
          =link_to twitter_url_for(coach.twitter) do
            =image_tag coach.avatar(70)
        .about
          .name
            - if coach.twitter.present?
              =link_to coach.full_name, twitter_url_for(coach.twitter)
            - else
              =coach.full_name
          %span.about_you=coach.about_you.html_safe
