%section#sponsoring
  .titlebox.mission
    %h2
      Sponsoring
    .dot
  .description
    %p
      There are different ways that you can sponsor <b>codebar</b>.
    %ul
      %li
        hosting:
        %ul
          %li our coding sessions. The are on every Wednesday between 18:30-21:00 (40 people or more)
          %li our courses. They are always on weekends, usually Saturdays. (20 people)
          %li our monthly meetups. We don't have a definite day planned for this yet.
      %li providing food for any of our events. Gluten free food is a plus!
      %li
        helping us with monetary sponsorship so we can cover some of our
        =link_to "existing costs", "https://github.com/codebar/planner/issues/59"
      %li
        paying for some of the expenses
        =link_to "we've already covered", "https://github.com/codebar/planner/issues/59"
        ourselves.

    %p
      We don't distinguish between sponsors (we display all logos on our website in a random order) and would prefer to not accept monetary donations greater than £100. Our aim is to have a balance of £150 as a start, so we can cater for our small ongoing expenses - like server usage - and be able to help some of our students by paying for their travel tickets, or part of.

    %p
      We would also be happy with a sponsor paying directly for some of the expenses e.g. getting us stickers, badges etc, but we need a good communication channel and clear information of what we need to do to make this work if they rely on content received by us ( for example logo for stickers).

    %p
      That wouldn't work well for things like service accounts as we need to have full authority over them. Regarding our server, Heroku credit is also a form of sponsorship we would be able to accept.

    %p
      We also accept anonymous donations via Gittip.
      .git-tip
        %script{ :"data-gittip-username" => "by_codebar", :src => "//gttp.co/v1.js" }

    %p
      <b>As a thank you</b> we will list your logo on our website and tweet about the help you have offered us. You can also put up your company's banner up in a session and give us your swag to give out to people. However, we are not comfortable with recruitment in any of our events. If you have internships, apprentiships or junior positions available that our students might be interested in,
      = mail_to "hello@codebar.io", "send us an email"
      so we can discuss this further.
