= render partial: 'shared/title', locals: { title: "Our coaches", date: nil }
%section#banner
  .row
    .large-12.columns
      %p Do you want to coach at codebar? #{link_to "Sign up!", "/auth/github" }
      %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
        - @coaches.each do |coach|
          %li.coach
            .row
              .small-2.columns
                =link_to twitter_url_for(coach.twitter) do
                  =image_tag coach.avatar(96), class: 'th radius'

              .small-10.columns
                =link_to twitter_url_for(coach.twitter) do
                  = coach.full_name
                %p= coach.about_you
