.stripe.reverse#banner
  .row
    .large-12.columns
      %h2 Coaches
      %p.lead
        Do you want to help out by coaching at our workshops? Read our #{ link_to "teaching guide", teaching_guide_path } and sign up as a Coach!
= render partial: '/coach/coach', locals: { coaches: @coaches }
                  