%section#sessions
  - if @sessions.upcoming.any?
    .titlebox.session.upcoming
      %h2 Upcoming sessions
      .dot
    .description
      .details-block
        %ul.short
          - @sessions.upcoming.each do |session|
            %li
              %h3= session.title
              %h5= session.description
              %h6=l(session.date_and_time, format: :website_format)

  - if @sessions.past.any?
    .titlebox.session.past
      %h2 Past sessions
      .dot
    - @sessions.past.each do |session|
      .description
        .details-block
          %ul.short
            %li
              %h3= session.title
              %h5= session.description
              %h6=l(session.date_and_time, format: :website_format)
         
