.event#minified
  .row
    .small-3.medium-2.columns
      .date
        .time
          = meeting.time
    .small-9.medium-10.columns
      .title
        =link_to meeting.name, meeting_path(meeting.slug)
        - if meeting.venue.present?
          at
          = link_to meeting.venue.name, meeting.venue.website
      .row
        .medium-6.columns
        .medium-6.columns#sponsors

      %br
