%section.stripe.reverse
  .row
    .medium-12.columns
      %h2
        =@meeting.name
      %h3
        %small=humanize_date_with_time(@meeting.date_and_time)
      %p.lead= @meeting.description.html_safe

  .row
    .large-3.small-6.columns#host
      - if @meeting.venue.present?
        %h4 Venue
        %strong= @meeting.venue.name

