- content_for :head do
  %link{ href: '/tom-select/tom-select.bootstrap5.min.css', rel: 'stylesheet', type: 'text/css' }
  %script{ src: '/tom-select/tom-select.complete.min.js' }
  = javascript_include_tag 'admin/tom-select-init'

.container.py-4.py-lg-5
  .row.mb-4
    .col
      %h1 Members Directory
  .row.mb-4
    .col-12.col-md-6
      = select_tag 'member_lookup_id', nil, class: 'form-control'
  .row
    .col
      = link_to 'View Profile', '#', { class: 'btn btn-primary', id: 'view_profile' }
