.container-fluid
  .row.mb-4
    .col
      %h1 Members Directory
  .row.mb-4
    .col-12.col-md-6
      = select_tag 'member_lookup_id', options_for_select(@members.collect{ |u| [u.full_name, u.id] }), { class: 'chosen-select' }
  .row.mb-4
    .col
      = link_to 'View Profile', '#', { class: 'btn btn-primary', id: 'view_profile' }
