.row.d-flex.align-items-center.eligibility-inquiry
  .col-2.col-md-1
    %span.fa-stack.text-warning
      %i.fas.fa-circle.fa-stack-2x
      %i.fas.fa-paper-plane.fa-stack-1x.fa-inverse
  .col-9.col-md-11.details
    %strong Sent eligibility inquiry email by #{link_to(action.issued_by.full_name, action.issued_by)}
    .date
      = l(action.created_at, format: :website_format)
