- if @invitations.any?
  .row
    .large-12.columns
      .panel
        %p
          <strong>#{@invitations.count}</strong> members have RSVP'd to this event.
  .row
    .medium-6.columns
      %h4
        Participants
        - @invitations.each do |invitation|
          %ul.no-bullet
            %li
              .medium-8.columns
                =link_to admin_member_path(invitation.member) do
                  =invitation.member.full_name
              .medium-4.small-12.columns
                =link_to "Cancel attendance", admin_meeting_invitation_path(invitation, attendance_status: false), class: "button tiny alert", method: :put
