.icon-bar.five-up
  =link_to 'https://codebar.io', class: 'item' do
    %i.fa.fa-pencil
    %label Placeholder

%section
  .stripe.reverse
    .row
      .medium-12.columns
        %h2
          =@event.to_s
        %h3
          %small #{l(@event.date_and_time)}

    .row
      - if @event.venue.present?
        .medium-1.columns
          - unless @event.spaces?
            %label.label.warning Workshop full
          %br
          %br

    .row
      .large-3.small-6.columns#host
        - if @event.venue.present?
          %h4 Venue
          %strong= @event.venue.name
          %br
          %small
            = @address.to_html
      .large-3.small-6.columns#sponsors
        - if @event.sponsors.any?
          %h4 Sponsors
          %ul.no-bullet
            - @event.sponsors.each do |sponsor|
              %li
                %span
                  = link_to sponsor.name, [:admin, sponsor]
      -#.large-6.small-12.columns
      -#  %h4 Team
        -#- @event.organisers.each do |organiser|
        -#  %span{ "data-tooltip" =>"", "aria-haspopup" => "true",  class: "has-tip",  title: organiser.full_name }
        -#    = image_tag(organiser.avatar(40))

