.container.py-4.py-lg-5
  .row.mb-4
    .col
      %h1 Results 

    .row
      .col.col-md-10.col-lg-8
        %h2 Search Results
        %ul.list-group
          - members.each do |member|
            %li.list-group-item
              = link_to member.name_and_surname, admin_member_path(member)
