%section#admin
  .titlebox
    %h2 Upcoming events
  .description
    - @sessions.each do |session|
      .details-block
        %h3=session.title
        %h5=session.description
        %h6=l(session.date_and_time, format: :website_format)

        .row
          .half
            %h4 Students
            =render partial: 'attendances', locals: { invitations: session.attending_students }

          .half
            %h4 Coaches
            =render partial: 'attendances', locals: { invitations: session.attending_coaches }
