= render partial: 'shared/title', locals: { title: "Admin", date: nil }
%section#admin
  .row
    .large-4.columns
      .panel
        =link_to "Manage attendances", admin_workshop_index_path, class: 'button round expand'

    .large-4.columns
      .panel
        =link_to "View feedback", admin_feedback_index_path, class: 'button round expand'
