%h1 Hi #{@member.name},

%p
  We noticed that you have missed more than 2 workshops that you have RSVP'd to.

%p
  We have a three-strikes attendance policy for no-shows. This allows us to offer more opportunities to those who want to attend our heavily oversubscribed workshops. If you cannot make it to a workshop that you have RSVP'd to, please remember to update your attendance details through our website before 3:30PM, at the latest, on the day of the event.

%p
  Please be advised that <strong>if you miss one more workshop, we will temporarily suspend your membership</strong> for one month and you will not be able to attend any of our workshops for that period of time.

%p
  Thank you for your understanding.

%p
  #{"-- "}
  %br
  The codebar organisational team
