%h1 Hi #{@member.name},

%p
  We noticed that you have missed more than 3 workshops that you have RSVP'd to.
  Because our workshops are heavily oversubscribed each week, we have a
  three-strikes policy. If you cannot make it to a workshop that you have
  RSVP'd to, please cancel your spot via email before 2PM or get in touch with
  us directly at london@codebar.io if something comes up very last-minute.
  = link_to "eligibility criteria.", "http://codebar.io/faq"

%p
  Please be advised that if you miss one more workshop, we will temporarily
  suspend your invitations for one month.

%p
  Thanks for your understanding.

%p
  #{"-- "}
  %br
  The codebar organisational team
