%h1 Hi #{@member.name},

%p
We’ve noticed you haven’t been to a codebar workshop in a little while, and we just wanted to check in. We know life gets busy, but we’d love to understand how things are going for you and whether there’s anything we can do to make it easier or more valuable for you to join again.
%p
If you have a minute, could you please share your thoughts in this short form? 👉 https://forms.gle/tEETvC3zYP9mcLar7

%p
Or, if you’re thinking about coming back soon, we’ve got some great upcoming workshops and events you might like to join 👉https://codebar.io/events/

%p
Your feedback really helps us make codebar more welcoming and useful for everyone in our community 💜

%p
We’d love to see you again soon!

%p
#{"-- "}
%br
Warmly,
The Codebar Team
