.stripe.reverse
  .row
    .large-12.columns
      %h1 Jobs
.stripe.reverse
  .row
    .large-12.columns
      - if @jobs.none?
        %p
          There are no jobs available at the moment

      - @jobs.each do |job|
        .row.row-spaced
          .medium-8.columns
            .h4
              =link_to job do
                #{job.title}
              at #{job.company}              
              - if job.expiry_date.past?
                %label.label.alert Expired
            .h5
              %i.fa.fa-map-marker
              = job.location
          .medium-4.columns
            .right
              Submitted #{distance_of_time_in_words(Time.now, job.created_at)} ago
