.stripe.reverse
  .row
    .large-12.columns
      %h2 Post a job
      %p
        A minimum payment of <b>£25</b> is required to list a job (all proceeds go towards running our events and sustaining codebar).
      %p
        Before posting, make sure that:
        %ul.no-bullet
          %li
            %input#work-details{type: 'checkbox'}
            %label{for: 'work-details'} Your post details the work that will have to be undertaken
          %li
            %input#roles{type: 'checkbox'}
            %label{for: 'roles'} It's suitable for people looking for Internships and Junior roles that will enable them to build up their career
          %li
            %input#pay{type: 'checkbox'}
            %label{for: 'pay'} The job pays an appropriate salary
          %li
            %input#short{type: 'checkbox'}
            %label{for: 'short'} It's short and to the point

      =link_to "Make payment", "https://donate.codebar.io", class: 'button tiny round'
      %br
      %small *Posted jobs will only be visible to our members after they are reviewed and approved by an organiser.

.stripe.reverse
  .row
    .large-12.columns
      = render partial: 'form'
