.stripe.reverse
  .row
    .large-12.columns
      %h1=t('jobs.pending.title')
      %p.lead
        - if @jobs.any?
          =t('jobs.pending.description', count: @jobs.count)
        - else
          =t('jobs.pending.none')
        %br
        %small #{link_to('Click here', new_job_path)} if you would like to post a new job.

  - if @jobs.any?
    .row
      .large-12.columns
        %ul.jobs
          - @jobs.each do |job|
            = render partial: 'job_preview', locals: { job: job }
