.alert-box.secondary
  .row
    .large-12.columns
      This is a preview. <b>Submit</b> to verify your post or <b>Edit</b> to amend.


= render partial: 'jobs/show', locals: { admin: false }

%br
.stripe
  .row
    .large-12.columns.text-right
      = link_to "Edit", edit_job_path(@job), class: 'button round'
      = link_to "Submit", job_submit_path(@job), class: 'button round default', method: :post
