.content
  %table
    %tr
      %td
        %h4
          Can't make it anymore?
        %p
          = "Please #{link_to 'cancel your attendance', @cancellation_url} by following the instructions on the event page.".html_safe
