.container-fluid.py-4.festival-banner
  .row.justify-content-md-center
    .col-lg-8
      .row
        .col-md-4.mb-4.mb-md-0
          = link_to image_tag('festival/codebar-festival-logo-light.png', style: 'max-width: 218px;', alt: 'codebar Festival logo'), 'https://festival.codebar.io/', class: 'border-0'
        .col-md
          %p.text-white.mb-2
            %strong 4 - 9th March 2024
          %p.text-white.mb-0 Build a holistic career in tech with us at codebar Festival! Join us on the 4th, 5th, 6th, 7th, and 9th of March for 5 days of workshops, talks, panels and networking opportunities. #{link_to 'Checkout out the schedule and RSVP here', 'https://festival.codebar.io', class: 'link-light border-0 text-decoration-underline'}.
