%meta{ property: 'og:title', content: 'codebar' }
%meta{ property: 'og:type', content: 'website' }
%meta{ property: 'og:url', content: request.original_url }
%meta{ property: 'og:image', content: image_url('logo-square.png') }
%meta{ property: 'og:description', content: 'Making tech more diverse and welcoming by bringing people together and helping teach programming skills.' }
%meta{ property: 'og:site_name', content: 'codebar' }
%meta{ property: 'og:locale', content: 'en_GB' }
-# Only Twitter-specific tag needed
%meta{ name: 'twitter:card', content: 'summary_large_image' }
