%ul.list-inline.ml-0.social-media
  %li.list-inline-item
    = link_to 'https://slack.codebar.io' do
      =image_tag("svgs/slack.svg", style: "max-height: 50px;", class: "social-svg", alt: "Slack logo")
  %li.list-inline-item
    = link_to 'https://github.com/codebar' do
      =image_tag("svgs/github.svg", style: "max-height: 50px;", class: "social-svg", alt: "GitHub logo")
  %li.list-inline-item
    = link_to 'https://facebook.com/codebarHQ' do
      =image_tag("svgs/facebook.svg", style: "max-height: 50px;", class: "social-svg", alt: "Facebook logo")
  %li.list-inline-item
    = link_to 'https://twitter.com/codebar' do
      =image_tag("svgs/twitter.svg", style: "max-height: 50px;", class: "social-svg", alt: "Twitter logo")
