.events
  - events.each_slice(3).each do |grouped_events|
    .row{ "data-equalizer" => "" }
      - grouped_events.each do |event|
        .large-4.columns
          %ul.pricing-table{ "data-equalizer-watch" => '', class: event.class.to_s.downcase }
            %li.title
              = event.to_s
            %li.description
              = humanize_date_with_time(event.date_and_time)
            %li.cta-button
              - unless event.is_a?(Sessions)
                =link_to "View details", event, class: "button round tiny"
              - else
                =link_to "Sign up", '/auth/github', class: "button round tiny"
