- sponsors.each do |sponsor|
  %li
    .row
      .large-2.columns
        = image_tag(sponsor.avatar.url, class: 'sponsor', alt: sponsor.name)
      .large-10.columns
        = link_to sponsor.name, sponsor.website
        %p
          = sponsor.description
  %br
