- title t('events.title')

.container{'data-test': 'upcoming-events'}
  .row
    .col
      - if @events.any?
        %h3.mb-4 Upcoming Events
  = render partial: 'events', locals: { grouped_events: @events, attending_ids: @attending_ids}

.container{'data-test': 'past-events'}
  .row
    .col
      - if @past_events.any?
        %h3.mb-4 Past Events
  = render partial: 'events', locals: { grouped_events: @past_events, attending_ids: @attending_ids }
