- title t('events.title')

.container-fluid
  .row
    .col{"data-test": "upcoming-events"}
      - if @events.any?
        %h3.mb-4 Upcoming Events
        = render partial: 'events', locals: { grouped_events: @events }

.container-fluid.stripe
  .row
    .col{"data-test": "past-events"}
      - if @past_events.any?
        %h3.mb-4 Past Events
        = render partial: 'events', locals: { grouped_events: @past_events }
