%section#events
  - if @events.any?
    .upcoming
      .titlebox
        %h2 Upcoming
        .dot
      = render partial: 'events', locals: { events: @events }

  - if @past_events.any?
    .past
      .titlebox
        %h2 Past
        .dot
      = render partial: 'events', locals: { events: @past_events }
