- title t('events.title')

.container-fluid
  .row
    .col
      - if @events.any?
        %h3.mb-4 Upcoming Events
        = render partial: 'events', locals: { grouped_events: @events }

.stripe
  .row
    .col
      - if @past_events.any?
        .events-list.events-list--past
          %h3.mb-4 Past Events
          = render partial: 'events', locals: { grouped_events: @past_events }
