= render partial: 'shared/title', locals: { title: "Events", date: nil }
%section#banner
  .row
    .large-12.columns
      - if @events.any?
        .upcoming
          .titlebox
          = render partial: 'events', locals: { events: @events }

  .past__container
    .row
      .large-12.columns
        - if @past_events.any?
          .past
            .titlebox
              %h2 Past
            = render partial: 'events', locals: { events: @past_events }
