%section#banner.stripe
  .row
    .medium-12.large-8.columns
      - if @events.any?
        .upcoming
          .titlebox
          = render partial: 'events', locals: { grouped_events: @events }

.stripe
  .row
    .medium-12.large-8.columns
      - if @past_events.any?
        .past#past
          = render partial: 'events', locals: { grouped_events: @past_events }
