%section#banner.stripe
  .row
    .large-12.columns
      - if @events.any?
        .upcoming
          .titlebox
          = render partial: 'events', locals: { grouped_events: @events }

.stripe
  .row
    .large-12.columns
      - if @past_events_display.any?
        .past#past
          = render partial: 'events', locals: { grouped_events: @past_events_display }
          Codebar has hosted 
          = @all_past_events_count
          weekly workshops, Codebar monthlies and all-day special events since 2013.
