.stripe.reverse
  .row
    .large-12.columns
      %h1 Events

.stripe.reverse
  .row
    .large-8.columns
      %h2 Upcoming Events
      - if @events.any?
        .upcoming
          .titlebox
          = render partial: 'events', locals: { grouped_events: @events }

.stripe
  .row
    .large-12.columns
      %h2 Past events
      - if @past_events.any?
        .past#past
          = render partial: 'events', locals: { grouped_events: @past_events }
