- title t('events.title')

.container{'data-test': 'upcoming-events'}
  .row
    .col
      - if @events.any?
        %h3.mb-4 Upcoming Events

        = render partial: 'events', locals: { grouped_events: @events }

- if @pagy
  .container.mt-4
    = render partial: 'shared/pagination', locals: { pagy: @pagy, model: 'event' }
