.stripe.reverse
  .row
    .large-12.columns
      %h1 Jobs pending approval

.stripe.reverse
  .row
    .large-12.columns
      - if @jobs.none?
        %p
          there are no jobs available at the moment

      %dl
        - @jobs.each do |job|
          %dt
            =link_to admin_job_path(job) do
              #{job.title}
            %small.fa.fa-location-arrow
              = job.location
            - if job.expiry_date.past?
              %label.label.alert expired
          %dd submitted #{distance_of_time_in_words(Time.now, job.created_at)} ago
