.job.mb1
  .stripe
    .row
      .large-12.columns
        %br
        %ul.breadcrumbs
          %li=link_to  t('admin.dashboard.title'), admin_root_path
          %li.current
            %span= t('admin.jobs.title')

    - if @jobs.any?
      .row
        %table.large-12.columns
          %thead
            %tr
              %th Title
              %th Company
              %th Location
              %th Created at
              %th Status
              %th
          %tbody
            - @jobs.each do |job|
              = render partial: 'admin/jobs/job', locals: { job: job }
      .row
        .medium-6.columns.text-left
          = page_entries_info(@jobs, model: 'job')
        .medium-6.columns.text-right
          = will_paginate(@jobs)
