.container.py-4.py-lg-5
  .row
    .col.col-md-10.col-lg-8
      %h1 Sponsors
      %p.lead
        Codebar wouldn’t be possible without the support of our sponsors. They provide us with essential resources like space, food, drinks, and internet, and help cover our operational costs.
      %p.lead
        Thank you for sharing our vision of building a more inclusive, equal, and diverse tech industry.
      %p.lead.mb-0
        If you are interested in becoming a sponsor please do get in touch with us at #{mail_to "hello@codebar.io", "hello@codebar.io"}.

- ['gold', 'silver', 'bronze', 'community', 'standard'].each do |level|
  - if @sponsor_levels[level]
    .py-4.py-lg-5.bg-light
      .container
        .row
          .col
            %h3.text-center
              = sponsorship_level_title(level)
        = render partial: 'shared/sponsors', object: @sponsor_levels[level].compact
