= render partial: 'shared/title', locals: { title: "Sponsors", date: nil }
%section#banner
  .container
    .row
      .large-12.columns
        %p
          Would you like to host one of our workshops or help us out by making a donation? Get in touch at
          =mail_to "hello@codebar.io", "hello@codebar.io"
          ='.'
        %hr
      .large-12.columns
        %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-3#sponsors
          - @sponsors.each do |sponsor|
            %li
              = link_to image_tag(sponsor.avatar, class: "sponsor-logo", alt: sponsor.name), sponsor.website
    %br
