.py-4.py-lg-5.bg-primary
  .container
    .row.align-items-center
      .col-12.col-md-7
        %h1.display-2.text-white.lh-1.mb-4
          Fundraise
          %br
          for codebar
        %p.text-white.lead.mb-4
          Take on a physical challenge with codebar and raise the vital funds needed to keep all of our workshops and events free and accessible.
      .col-12.col-md-5
        = image_tag 'how-to-support-us/ilona-london-marathon.jpeg', alt: t('pages.how_to_support_us.fundraise.image_alt'), class: 'mw-100 rounded'

.py-4.py-lg-5
  .container
    .row.mb-5
      .col-12.col-lg-9
        %p.lead
          = t('pages.how_to_support_us.fundraise.description_html', email: 'hello@codebar.io')
    .row
      .col-12.col-lg-4
        .ratio.shadow{style: '--bs-aspect-ratio: 150%;'}
          %iframe{title: 'Great South Run', src: 'https://runforcharity.com/charity-registration/codebar/great-south-run/corporate-events'}
      .col-12.col-lg-4
        .ratio.shadow{style: '--bs-aspect-ratio: 150%;'}
          %iframe{title: 'London Landmarks Half Marathon 2027', src: 'https://runforcharity.com/charity-registration/codebar/london-landmarks-half-marathon-2026/codebar-london-landmarks-half-marathon-second-reg-1'}
      .col-12.col-lg-4
        .ratio.shadow{style: '--bs-aspect-ratio: 150%;'}
          %iframe{title: 'Hackney Half May 2027', src: 'https://runforcharity.com/charity-registration/codebar/hoka-hackney-half/corporate-events'}
