= render partial: 'shared/title', locals: { title: "Invitations", date: nil }
%section
  - if current_user.is_student? and current_user.is_coach?
    .inner-nav{ "data-magellan-expedition" => "fixed" }
      %dl.sub-nav
        .row
          %dd{ "data-magellan-arrival" => "student" }
            =link_to "Student", "#student"
          %dd{ "data-magellan-arrival" => "coach" }
            =link_to "Coach", "#coach"

  .row
    .large-12.columns
      - if current_user.is_student? and
        =render partial: "student"

      - if current_user.is_student? and current_user.is_coach?
        %hr
      - if current_user.is_coach?
        =render partial: "coach"
