.stripe.reverse
  .row
    %h3 Thank You
    %p Your donation has been processed. Thank you for supporting our effort to create a more diverse tech community.
    %p If you would like an invoice for your donation, please send an email to company@codebar.io
