= render partial: 'shared/title', locals: { title: "Member portal", date: nil }

#banner
.row
  .large-4.columns
    .panel
      %h4 Profile
      %p
        Update your profile and your subscriptions
      =link_to "Profile", profile_path, class: 'button round expand'
  .large-4.columns
    .panel
      %h4 Manage invitations
      %p
        View your invitations and RSVP to upcoming workshops
      =link_to "Invitations", invitations_path, class: 'button round expand'
