development: &default
  adapter: postgresql
  encoding: unicode
  database: planner_development
  pool: 5
  username: postgres
  password:
  host: db

test:
  <<: *default
  database: planner_test
  pool: 5
