= render partial: 'shared/title', locals: { title: "Workshop feedback", date: nil }
%section#admin#banner
  .row
    .large-12.columns
    %p Feedback related to your coaching sessions is highlighted.
  .row
    .large-12.columns
      - @feedback.each do |feedback|
        .panel{ class: current_member.eql?(feedback.coach) ? 'callout' : "" }
          .row
            .large-3.columns
              %h5=I18n.l(feedback.created_at, format: :date)
            .large-7.columns
              %h5.subheader
                =feedback.tutorial.title
            .large-2.columns
              - (0...feedback.rating).each do |rating|
                .fa.fa-star
          - if feedback.request.present?
            .row
              .large-12.columns
                %h5 How did you find the workshop?
                %p=feedback.request
          - if feedback.suggestions.present?
            .row
              .large-12.columns
                %h5 Suggestions
                %p=feedback.suggestions
