= render partial: 'shared/title', locals: { title: "Workshop feedback", date: nil }
%section#admin#banner
  .row
    .large-12.columns
    %p Feedback related to your coaching sessions is highlighted.
  .row
    .medium-6.columns.text-left
      = page_entries_info(@coaches, model: 'feedback')
  .row
    .large-12.columns
      - @feedback.each do |feedback|
        .panel{ class: current_user.eql?(feedback.coach) ? 'callout' : "" }
          .row
            .large-3.columns
              %h5=I18n.l(feedback.created_at, format: :date)
            .large-7.columns
              %h5.subheader
                =feedback.tutorial.title
            .large-2.columns
              - (0...feedback.rating).each do |rating|
                .fas.fa-star
          - if current_user.admin_or_organiser? and feedback.coach.present?
            .row
              .large-12.columns
                %p
                  %span Coach:
                  = link_to feedback.coach.full_name, admin_member_path(feedback.coach)
          - if feedback.request.present?
            .row
              .large-12.columns
                %h5 How did you find the workshop?
                %p=feedback.request
          - if feedback.suggestions.present?
            .row
              .large-12.columns
                %h5 Suggestions
                %p=feedback.suggestions
  .row
    .medium-12.columns.text-right
      = will_paginate(@coaches)
