.container-fluid
  .row.mb-3
    .col
      %h1 Announcements
  .row
    .col
      .row.border-bottom.border-primary
        .col-3
          %p.mb-2 Created by
        .col-3
          %p.mb-2 Message
        .col-3
          %p.mb-2 Groups
        .col-3
          %p.mb-2 Expires at
      - @announcements.each do |announcement|
        .row.mt-3
          .col-3
            .row
              .col-2
                = image_tag(announcement.created_by.avatar(24), alt: announcement.created_by.full_name)
              .col-10
                %p= announcement.created_by.full_name
          .col-3
            = dot_markdown(announcement.message)
          .col-3
            %ul
              - announcement.groups.each do |group|
                %li
                  %p.mb-2= group.to_s
          .col-3
            - if announcement.expires_at.present?
              %p=l(announcement.expires_at, format: :date)
