<div class="row error404">
  <div class="large-12 columns">
    <h1>Internal Error</h1>
    <p>Sorry! Something's nothing working at our end, please try again.</p>
    <p><%= link_to "home", root_url %></p>
  </div>
</div>
