.stripe.reverse
  .row
    .large-12.columns
      %p Your payment has been processed. Thank you for supporting our effort to create a more diverse tech community.
      %p If you would like an invoice, please send an email to company@codebar.io
