@import 'foundation_and_overrides';

#admin-member {

  #actions {
    .alert {
      color: $lightyellow;
    }

    .success {
      color: $lightgreen;
    }

    li {
      padding-bottom: 1em;

      .note, .suspension, .warning {
        display: inline-flex;
      }

      .details {
        display: inline-grid;
        padding-left: 10px;
        padding-top: 5px;

        .date {
          font-size: 0.9em;
        }

        .explanation {
          font-size: 0.9em;
          color: #999;
          display: flex;

          span {
            &.warning {
              color: $lightyellow;
            }
          }

          div {
            padding: 5px;
          }
        }
      }

    }
  }

  section  {
    padding-top: 50px;

  }

  #profile {
    img {
      padding-bottom: 10px;
    }

    .name {
      font-size: 1.5em;
      line-height: 1.2em;
    }
  }

  .attendance {
    .attended, .not-attended, .no-attendance {
      color: $white;
      padding-left: 10px;
      font-size: 0.9em;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .attended {
    background-color: $lightgreen;
  }

  .not-attended {
    background-color: $red;
  }

  .no-attendance {
    background-color: $lightgray;
  }
}
