.attendances {
    .button {
        margin-bottom: 0;
    }

    .verify_attendance,
    .cancel_attendance {
        border: none;
    }

    a .fa {
        color: black;

        &:hover {
            text-shadow: 1px 1px 1px #999;
        }

        &:active {
            text-shadow: -2px 1px 1px #999;
        }
    }

    .attendee {
        padding: 0.5em 0;
    }
}

label.signed-in {
    color: white;
    background-color: #16cc1f;
}
