.card {
  background: $white;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  border: 1px solid $main-stroke;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 0 5px 0 $main-stroke;
  }
}