$codebar-green: #19f3be
$codebar-pink: #ff036a
$codebar-blue: #4bafff

$main-stroke: #f2f2f4
$navigation-gray: #fdfdfd
$navigation-gray-separators: #dddedd
$nav-block-border: #e5e2e0
$gray-title-button: #f5f5f5
$red: #C40233
$lightgreen: #69b986
$lightyellow: #f8d773
$white: #ffffff

$become-member-grey: #5e5a6b
$become-member-white: #f1f1f3
$become-member-drop-shadow-purple: #72629a
$become-member-inner-purple: #a6a4b8

$next-workshop-grey: #fbfbfb
$become-workshop-grey: #fafafa
$become-workshop-drop-shadow: #b0afc0
$get-in-touch-purple: #b0afc0
$become-workshop-text: #8969a8
$become-workshop-border: #e2dded

$navigation-links-purple: #613789

$title-side: #342552
$our-mission-purple: #6f4a93
$next-workshop-yellow: #fdcc38
$next-course-green: #57ae3b
$code-of-conduct-purple: #ccc0d6
$meeting-title: #241A62

$dark-purple: #1f1430
$titles-dark-purple: #4c4066
$paragraph: #393349
$bold-par-light-grey: #6f6c7c
$link-purple: #a26cd2
$workshop-titles-dark-grey: #2d193c
$workshop-day-gray: #555555
$sub-workshop-desc-grey: #6e6b6c
$dark-color: #0e001b

$primary-color: #596677
$secondary-color: $codebar-blue
$lightgray: #ccc
