.events {
  margin-bottom: 30px;
  .navigation {
    .button {
      margin-top: 10px;
    }
  }

  li {
    h4 {
      margin-bottom: 0;
    }

    .details {
      background-color: rgba(245,245,245,0.2);
      padding: 10px;
      height: 100%;
    }
  }
}

.past__container {
  padding-top: 50px;
  background-color: #eeeeee;
}

.meeting.date {
  color: #968ae0;
}

.workshops.date  {
  color: #ab97bb;
}

.course.date {
  color: #d9699e;
}

.event.date {
  color: #138cd3;
}
