#sidebar {
  background: #fdfdfd;
  padding: 32px 20px;
}

.event {
  $root: &;

  padding: 20px;
  margin-top: 10px;
  border: 1px solid rgba($primary-color, 0.25);
  border-radius: 3px;

  display: flex;
  justify-content: space-between;

  &__col-1,
  &__col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__col-2 {
    align-items: flex-end;
  }

  &__header {
    .title,
    .title a {
      font-size: 1.2rem;
      line-height: 1.2;
      margin: 0;
    }
  }

  &__details {
    margin-top: 15px;
    font-size: 0.9rem;
    .date,
    .time {
      i {
        font-size: 0.9rem;
        margin-top: -2px;
        vertical-align: middle;
        opacity: 0.5;
      }
    }
  }

  &__organisers {
    margin-top: 12px;

    #{$root}__organisers-list {
      margin: 0 !important;
    }
  }

  &__sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    a {
      border: none;
      margin-top: 10px;
      margin-left: 10px;
    }
    img {
      max-width: 90px;
      max-height: 60px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
