.homepage-hero {
  background-image: image-url("uncodebar-group.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  .text {
    background-color: rgba(0, 0, 0, 0.6);
    p {
      color: $white;
    }
  }
}
