.job {
  .stripe:not(.reverse):first-child {
    padding: 40px 0px 20px;
  }

  .stripe:not(.reverse):nth-child(even) {
    background-color: #f5f6f7;
    padding: 20px 0 40px;
  }

  .stripe.reverse:nth-child(even) {
    padding: 20px 0;
  }

  .stripe.reverse:nth-child(odd) {
    background-color: #f5f6f7;
    padding: 40px 0;
  }
}
