ul.jobs {
  margin: 0;
  padding: 0;
  list-style: none;


  li.job {
    border-bottom: 1px solid #dee0e2;
    padding: 10px 0 5px;
    margin: 5px 0;

    dl {
      font-size: '0.9em';

      dt {
        color: #6f777b;
        display: inline-block;
        width: 24%;
      }
      dd {
        display: inline-block;
        width: 24%;
        margin-bottom: 0;
      }
      dd.double {
        width: 60%;
      }
    }
  }
}

.job {
  .stripe:not(.reverse):first-child {
    padding: 40px 0px 20px;
  }

  .stripe:not(.reverse):nth-child(even) {
    background-color: #f5f6f7;
    padding: 20px 0 40px;
  }

  .stripe.reverse:nth-child(even) {
    padding: 20px 0;
  }

  .stripe.reverse:nth-child(odd) {
    background-color: #f5f6f7;
    padding: 40px 0;
  }
}
