footer {
  background-color: $primary-color;
  padding: 50px 0;

  a {
    color: $white;

    &:hover {
      color: $secondary-color;
    }
  }

  .registration {
    color: $white;
    font-size: 0.75rem;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .social-media a {
    border-bottom: none;
  }
}
