@import "partials/colors";

#top {
  margin-top: 82px;
}

@media (min-width: 991.98px) {
  #top {
    margin-top: 77px;
  }
}

.main-footer {
  background-color: $dark-codebar-blue;
  color: white;

  a {
    color: $white;
    border: none;
    &:hover {
      color: $codebar-green;
    }
  }

  .registration {
    font-size: 0.75rem;
  }
}
