body {
  border-top: 5px solid #2b1d39;
}

nav .brand {
  font-family: 'Gabriela', serif;
  padding-left: 10px;
  font-size: 2em;
}

#top {
  border-top: 3px solid #b9b1bf;
}


footer {
  background-color: #a0a0a0;
  padding: 60px 0;
  margin-top: 50px;

  a {
    color: #774f9f;
  }
}
