@import "partials/colors";

#top {
  margin-top: 73px;
}

// to delete
.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

// to delete
.flex-item {
  display: flex;
}

.main-footer {
  background-color: $dark-codebar-blue;
  color: white;

  a {
    color: $white;
    border: none;
    &:hover {
      color: $codebar-green;
    }
  }

  .registration {
    font-size: 0.75rem;
  }
}
