/* Margin utility classes */
@for $i from 0 through 5 {
  .mt#{$i} {
    margin-top: #{$i}em;
  }

  .mb#{$i} {
    margin-bottom: #{$i}em;
  }

  .mr#{$i} {
    margin-right: #{$i}em;
  }

  .ml#{$i} {
    margin-left: #{$i}em;
  }
}
