#note  {
  margin-bottom: 1em;
  padding-bottom: 1em;

  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: none;
  }

  p {
    margin-bottom: 0.2em;
  }

  cite {
    font-size: 0.8rem;
  }
}
