.user-link {
  border-bottom: none;
}

.organiser-content {
  @extend .card;
  align-items: center;
  justify-content: center;
}

.organiser-image {
  border-radius: 3.57143rem;
  margin-bottom: 0.5rem;
}
