.sponsor-logo-image {
  padding-bottom: 20px;
}

.small-image {
  max-height: 100px;
}

.sponsor-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-header-margin {
  margin-bottom: 35px;
}
