.rating {
  float: left

  ul {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
    li {
      float: left;
      margin-left: 2px;
      background: image-url("star-rating.gif") no-repeat;
      width: 25px;
      height: 25px;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }
      &:hover {
        background-position: -25px;      
      }
      &.active {
        background-position: -50px;        
      }
    }
  }

  span.less {
    cursor: pointer;
    background: image-url("star-rating.gif") -75px no-repeat;
    display: block;
    float: left;
    height: 25px;
    width: 25px;
  }
}
