%p
  - if logged_in?
    - if @course.date_and_time.future?
      = link_to "RSVP", course_rsvp_path(@course), class: 'button'
  - else
    = link_to "Sign up", new_member_path, class: 'button'
    = link_to "Log in", redirect_path, class: 'button'