%section#courses
  - if @courses.upcoming.any?
    .titlebox.course.upcoming
      %h2 Upcoming courses
      .dot
    %ul
      - @courses.upcoming.each do |course|
        %li
          =link_to course_url(course) do
            = course.title
          %br
          %small=l(course.date_and_time, format: :website_format)

  - if @courses.past.any?
    .titlebox.course.past
      %h2 Past courses
      .dot
    %ul
      - @courses.past.each do |course|
        %li
          =link_to course_url(course) do
            = course.title
          %br
          %small=l(course.date_and_time, format: :website_format)
