%section#courses
  - if @courses.upcoming.any?
    .titlebox.course.upcoming
      %h2 Upcoming courses
      .dot
    .description
      .details-block
        %ul.short
          - @courses.upcoming.each do |course|
            %li
              %h3
                =link_to course_url(course) do
                  = course.title
              %h6=l(course.date_and_time, format: :website_format)

  - if @courses.past.any?
    .titlebox.course.past
      %h2 Past courses
      .dot
    - @courses.past.each do |course|
      .description
        .details-block
          %ul.short
            %li
              %h3
                =link_to course_url(course) do
                  = course.title
              %h6=l(course.date_and_time, format: :website_format)
