- if @courses.upcoming.any?
  %h2 Upcoming courses
  %ul
    - @courses.upcoming.each do |course|
      %li
        =link_to course_url(course) do
          = course.title
          %small=l(course.date_and_time)

- if @courses.past.any?
  %h2 Past courses
  %ul
    - @courses.past.each do |course|
      %li
        =link_to course_url(course) do
          = course.title
          %small=l(course.date_and_time)
