=render partial: 'shared_mailers/header', locals: { title: "Workshop Feedback" }
%body{ bgcolor: "#FFFFFF" }

  =render partial: 'shared_mailers/body_header', locals: { title: "Workshop Feedback" }

  %table{ class: "body-wrap"}
    %tr
      %td
      %td{ class: "container", bgcolor: "#FFFFFF" }

        .content
          %table
            %tr
              %td
                %h3 Hi, #{@member.name}
                %p.lead
                  Thanks for attending our workshop.
                %p
                  We would love it if you could give us your feedback. Your opinion and suggestions are very important in making our events better and improving what we are offering. Don't hesitate to write down any concerns you have.

                %p
                  Feedback is completely anonymous and filling in the form should only take you a couple of minutes.

        .content
          %table{ bgcolor: "#FFFFFF" }
            %tr
              %td
                %p
                  =link_to "Submit feedback", full_url_for(feedback_url(@feedback_request.token)), class: 'btn'

        .content
          = render partial: 'shared_mailers/social', locals: { workshop: @workshop }
      %td

  = render partial: 'shared_mailers/footer'
