.attendance-warning
  %span.fa-stack.fa-lg
    %i.fa.fa-circle.fa-stack-2x.alert
    %i.fa.fa-clock-o.fa-stack-1x
  .details{ style: 'display: inline-grid' }
    %strong Sent attendance warning email by #{link_to(action.issued_by.full_name, admin_member_path(action.issued_by))}
    .date
      #{l(action.created_at, format: :website_format)}
