%section#banner
  .row
    .large-12.columns
      %h1
        = @group.name
        %small.subheader #{@group.chapter.name}
    .large-12.columns
      %h3 Members (#{@group.members.count})
      %table
        - @group.members.each do |member|
          %tbody
            %tr
              %td
                =image_tag member.avatar(32), class: 'th radius', title: member.full_name
              %td
                =member.full_name
              %td
                =mail_to member.email, member.email
              %td
                =member.mobile
