/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font_awesome5
 *= require main
 *= require pickadate/classic
 *= require pickadate/classic.date
 *= require pickadate/classic.time
 *= require chosen
 */

@import "partials/colors";
@import "partials/layout";
@import "partials/hero";
@import "partials/social_media";
@import "partials/star-rating";

$primary: $dark-codebar-blue !default;

@import "bootstrap-custom";

/* Bootstrap's Reboot sets legends to float: left, which puts the first check box in a fieldset off to the
   right instead of underneath the legend. This overrides that. */
legend {
  float: none !important;
}
