.row-spaced {
  padding-bottom: 20px;
}

#banner,
#chapter {
  margin-top: 30px;
}

.brand {
  line-height: 5.8rem;
}

nav a.menu {
  margin: 20px;
  top: 20px;
}

.user {
  color: #e3573e;
}

.sign-up {
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #ffee2c;
  background-color: #ffeea6;
}

.sign-up.past {
  border: 1px solid grey;
  background-color: #ccc;
}

/* The new user flow. */
.sign-up-wizard {
  .row.subscriptions {
    margin-bottom: 2rem;
  }

  span.error {
    margin-top: -17px;
  }

  .toggle {
    cursor: pointer;
  }

  label.required abbr {
    display: none;
  }

  .hint {
    position: relative;
    top: -1rem;
    font-size: 65%;
  }
}

/* Show/hide togglable elements are controlled by JavaScript. */
.sign-up-wizard .collapsed {
  display: none;
}
.no-js .sign-up-wizard .collapsed {
  display: block;
}

.workshop.title {
  color: grey;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.workshop.schedule small {
  color: grey;
}

.exposition {
  font-size: 0.8rem;
  margin-bottom: 3rem;
}

.row.people-and-place {
  margin-bottom: 3rem;
}

.sponsors {
  text-align: center;
  margin: 0.5rem 0 2rem;

  img {
    max-height: 120px;
  }
}

#sponsors {
  li img {
    max-height: 120px;
  }
}

img.sponsor {
  max-height: 100px;
}

u {
  text-decoration: underline;
}

.fa-collaboration {
  background-image: asset-url('collaboration.png');
  background-size: 10px 10px;
}

.stripe:not(.reverse):first-child {
  padding: 80px 0px 40px;
}

.stripe:not(.reverse):nth-child(even) {
  background-color: #f5f6f7;
  padding: 60px 0;
}

.stripe.reverse:nth-child(even) {
  padding: 60px 0;
}

.stripe.reverse:nth-child(odd) {
  background-color: #f5f6f7;
  padding: 60px 0;
}

.stripe.reverse:first-child {
  padding: 50px 0;
}

.stripe.reverse#chapter {
  h3 {
    font-weight: 300;
  }
}

.grouped-events {
  padding-bottom: 20px;

  h3.date {
    font-size: 1.15rem;
    margin-bottom: 15px;
  }
}
.events-list {
  margin-bottom: 30px;

  &--past-events {
    h3.date {
      opacity: 0.5;
    }
    .event {
      opacity: 0.5;
    }
  }
}

.sponsor-image a {
  border-bottom: none;
}

.admin_margin {
  margin-top: 15px;
}

form .hint {
  color: gray;
  display: inline-block;
  font-size: 0.875em;
  margin-bottom: 0.5rem;
}

.chosen-dropwdown {
  margin-bottom: 1.14286rem;
}
