@import 'partials/layout';
@import 'partials/events';
@import 'partials/social_media';
@import 'partials/chapter';
@import 'partials/member_note';
@import 'partials/attendances';
@import 'partials/admin_workshop';

section.title {
  background-image: image-url('bg.jpg');
  background-position: 0 0px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  padding: 120px 0;

  h1 {
    color: #e5e5e5;
    font-weight: bold;

    span {
      background-color: rgba(51, 51, 51, 0.4);
      padding: 0 5px;
    }
  }

  .date {
    background-color: rgba(51, 51, 51, 0.4);
    color: #e5e5e5;
    padding: 5px;
    font-size: 1.3em;
    font-weight: bold;
  }
}

@media only screen and (max-width: 40em) {
  section.title {
    background-position: 0 0px;
    padding: 20px 20px 60px;
  }
}

#banner, #chapter {
  margin-top: 30px;
}

nav a.menu {
    margin: 20px;
    top: 20px;
  }

.top-bar {
  line-height: 60px;

  .name {
    display: inline-block;
  }
}

.user {
  color: #E3573E;
}

.left-off-canvas-menu {
  left: 10px;
  background-color: #444444;
  padding-right: 10px;
}

.sign-up {
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #FFEE2C;
  background-color: #FFEEA6;
}

.sign-up.past {
  border: 1px solid grey;
  background-color: #CCC;
}

/* The new user flow. */
.sign-up-wizard {
  .row.subscriptions {
    margin-bottom: 2rem;
  }

  span.error {
    margin-top: -17px;
  }

  .toggle {
    cursor: pointer;
  }

  label.required abbr {
    display: none;
  }

  .hint {
    position: relative;
    top: -1rem;
    font-size: 65%;
  }
}

/* Show/hide togglable elements are controlled by JavaScript. */
.sign-up-wizard .collapsed { display: none; }
.no-js .sign-up-wizard .collapsed { display: block; }



.workshop.title {
  color: grey;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.workshop.schedule small {
  color: grey;
}

.exposition {
  font-size: 0.8rem;
  margin-bottom: 3rem;
}

.row.people-and-place {
  margin-bottom: 3rem;
}

.sponsors {
  text-align: center;
  margin: 0.5rem 0 2rem;

  img {
    max-height: 120px;
  }
}

#sponsors {
  li img {
    max-height: 120px;
  }
}

img.sponsor {
  max-height: 100px;
}

u {
  text-decoration: underline;
}
