/* Show/hide togglable elements are controlled by JavaScript. */
.toggle {
  cursor: pointer;
}

.collapsed {
  display: none;
}

.no-js .collapsed {
  display: block;
}

button.navbar-toggler.collapsed {
  display: block;
}

img.sponsor {
  max-height: 100px;
}

form .hint {
  color: gray;
  display: inline-block;
  font-size: 0.875em;
  margin-bottom: 0.5rem;
}

.chosen-dropwdown {
  margin-bottom: 1.14286rem;
}

.small-image {
  max-height: 100px;
}

.sponsor-sm {
  max-width: 120px;
}

.announcement p:last-child {
  margin-bottom: 0;
}

.picker {
  width: 320px !important;
}

.festival-banner {
  background: #1E1D3B;
}
