@import 'partials/layout';
@import 'partials/events';
@import 'partials/social_media';
@import 'partials/chapter';

section.title {
  background-image: image-url('bg.JPG');
  background-position: 0 0px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  padding: 100px 0;

  h1 {
    color: #e5e5e5;
    font-weight: bold;

    span {
      background-color: rgba(51, 51, 51, 0.4);
      padding: 0 5px;
    }
  }

  .date {
    background-color: rgba(51, 51, 51, 0.4);
    color: #e5e5e5;
    padding: 5px;
    font-size: 1.3em;
    font-weight: bold;
  }
}

@media only screen and (max-width: 40em) {
  section.title {
    background-position: 0 0px;
    padding: 20px 20px 60px;
  }
}

#banner, #chapter {
  margin-top: 30px;
}

nav a.menu {
    margin: 20px;
    top: 20px;
  }

.top-bar {
  line-height: 60px;

  .name {
    display: inline-block;
  }
}

.user {
  color: #E3573E;
}

.left-off-canvas-menu {
  left: 10px;
  background-color: #444444;
  padding-right: 10px;
}

#sponsors {
  li img {
    max-height: 120px;
  }
}

img.sponsor {
  max-height: 100px;
}
