a
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  text-decoration: none

.right
  text-align: right

.form-footer
  border-top: 1px solid #e4eae9
  margin-top: 20px
  padding-top: 20px
  margin-right: 200px

.row
  margin-bottom: 20px

.quarter, .half, .third, .row
  display: inline-block
  padding-right: 20px

.quarter
  width: 25%

.half
  width: 45%

.third
  width: 33%

#container
  font-family: 'Allerta', sans-serif
  font-size: 1.5em
  width: 70%
  margin: 0 auto

  input, textarea
    margin-right: 10px

  input[type="text"], input[type="email"], textarea
    width: 350px
    height: 35px
    margin-top: 10px
    padding: 5px 15px
    border-radius: 5px
    border: none
    background-color: #e4eae9
    font-size: 1em

  .button, input[type='submit']
    font-size: 1em
    padding: 20px
    background: #356094
    border-radius: 5px
    border: solid 1px #2A4E77
    text-decoration: none
    transition-duration: 0.2s

    &:hover
      box-shadow: 3px 3px 3px gray

  textarea
    height: 100px
    width: 75%

  .required
    abbr
      color: #F50000

  label
    display: block
