.container.pt-4
  .row
    .col
      %nav{'aria-label': 'breadcrumb'}
        %ol.breadcrumb.ml-0.mb-0
          %li.breadcrumb-item= link_to t('member.jobs.title'), member_jobs_path
          %li.breadcrumb-item= link_to @job.title, member_job_path(@job.id)
          %li.breadcrumb-item.active Edit

  .row.py-4.py-lg-5
    .col
      = simple_form_for @job, url: member_job_path, method: :put do |f|
        = render partial: 'form', locals: { f: f }
