.job
  .stripe
    .row
      .large-12.columns
        %br
        %ul.breadcrumbs
          %li.current=link_to  t('member.jobs.title'), "#"

    - if @jobs.any?
      .row
        %table.large-12.columns
          %thead
            %tr
              %th Job title
              %th Company
              %th Location
              %th Published on
              %th Expires on
              %th Status
              %th
          %tbody
            - @jobs.each do |job|
              = render partial: 'member/jobs/job', locals: { job: job }
      .row
        .medium-6.columns.text-left
          = page_entries_info(@jobs, model: 'job')
        .medium-6.columns.text-right
          = will_paginate(@jobs)

    .row.mt1
      .large-12.columns
        =link_to('New job', new_member_job_path, class: 'button medium ')
