.stripe.reverse
  .row
    .large-12.columns
      %h2 List a job
      %p
        Before posting, please make sure that:
        %ul.no-bullet
          %li
            %input#work-details{type: 'checkbox'}
            %label{for: 'work-details'} Your post details the work that will have to be undertaken
          %li
            %input#roles{type: 'checkbox'}
            %label{for: 'roles'} It's suitable for people looking for Internships and Junior roles that will enable them to build up their career
          %li
            %input#pay{type: 'checkbox'}
            %label{for: 'pay'} The job pays an appropriate salary
          %li
            %input#short{type: 'checkbox'}
            %label{for: 'short'} It's short and to the point
      %p
        A minimum payment of <b>£25</b> would be appreciated to list a job (all donations go towards sustaining codebar and running our events).
      =link_to "Make a payment", "https://codebar.io/donations/new", class: 'button'
      %br
      %small *Submitted jobs will be visible once they've been reviewed and approved by an organiser.

.stripe.reverse
  .row
    .large-12.columns
      = render partial: 'form'
