.row
  .col
    - @chapter.groups.each do |group|
      - if belongs_to_group?(group)
        = link_to subscriptions_path(subscription: { group_id: group }), method: 'delete', class: 'btn btn-success mr-2' do
          =group.name
          %i.fa.fa-check
      - else
        = link_to subscriptions_path(subscription: { group_id: group }), method: 'post', class: 'btn btn-primary mr-2' do
          = group.name
          %i.fa.fa-rss
