%table.head-wrap{ bgcolor: "#fdfdfd" }
  %tr
    %td
    %td.header.container

      .content
        %table{ bgcolor: "#fdfdfd" }
          %tr
            %td
              = image_tag( 'https://raw.githubusercontent.com/codebar/assets/master/logo/png/website-logo.png', alt: "codebar logo")
            %td{ align: "right"}
              %h6.collapse= title
    %td
