%table.head-wrap{ bgcolor: "#fdfdfd" }
  %tr
    %td
    %td.header.container

      .content
        %table{ bgcolor: "#fdfdfd" }
          %tr
            %td
              = image_tag 'https://github.com/codebar/assets/blob/master/logo/png/160x160px/logotype-160.png', alt: "codebar logo"
            %td{ align: "right"}
              %h6.collapse= title
    %td
