%table.head-wrap{ bgcolor: "#fdfdfd" }
  %tr
    %td
    %td.header.container

      .content
        %table{ bgcolor: "#fdfdfd" }
          %tr
            %td
              %img{ src: "https://dl.dropboxusercontent.com/u/108831317/codebar.png" }
            %td{ align: "right"}
              %h6.collapse= title
    %td
