%table.footer-wrap
  %tr
    %td
    %td.container
      .content
        %table
          %tr
            %td{ align: "center" }
              %p
                %a{ href: full_url_for(unsubscribe_member_url(@member)) }
                  %unsubscribe Unsubscribe
    %td
