- workshop ||= local_assigns[:workshop] = local_assigns.fetch(:workshop, nil)
%table.social{ width: "100%" }
  %tr
    %td

      %table{ align: "left", class: "column"}
        %tr
          %td

            %h5 Connect with us:
            %p
              %a{ href: "https://www.facebook.com/codebarHQ", class: 'soc-btn fb'} Like us on Facebook
              %a{ href: "https://twitter.com/codebar", class: "soc-btn tw" }Follow us on Twitter
              %a{ href: "https://www.facebook.com/groups/codebarcommunity", class: 'soc-btn fb'} Join our facebook community


      %table.column{ align: "left" }
        %tr
          %td
            %h5=t("footer.contact_info")
            %p
              Email:
              %strong
                =mail_to contact_email(workshop: workshop), contact_email(workshop: workshop)

      %span.clear
