- workshop ||= local_assigns[:workshop] = local_assigns.fetch(:workshop, nil)
%table.social{ width: "100%" }
  %tr
    %td

      %table{ align: "left", class: "column"}
        %tr
          %td

            %h5 Connect with us:
            %p
              %a{ href: "https://slack.codebar.io/", class: 'soc-btn sl'} Join us on Slack
              %a{ href: "https://www.youtube.com/channel/UCEYz232agE47GHUq8wneBCA", class: "soc-btn li" } Follow us on LinkedIn
              %a{ href: "https://www.facebook.com/codebarHQ", class: 'soc-btn fb'} Follow us on Facebook
              %a{ href: "https://twitter.com/codebar", class: "soc-btn tw" } Follow us on Twitter
              %a{ href: "https://www.youtube.com/channel/UCEYz232agE47GHUq8wneBCA", class: "soc-btn yt" }Follow us on YouTube
             


      %table.column{ align: "left" }
        %tr
          %td
            %h5=t("footer.contact_info")
            %p
              Email:
              %strong
                =mail_to contact_email(workshop: workshop), contact_email(workshop: workshop)

      %span.clear
