%table
  %tr
    %td
      %h5 Unsubscribe instructions
      %p If you would no longer like to receive these emails log into your #{ link_to 'codebar account', subscriptions_url} and unsubscribe from the #{chapter.name} chapter.
