%tr
  %td
    %h4 Venue
%tr
  %td{ width: '70%', style: 'vertical-align: top; padding-right:20px;' }
    %p
      %strong #{@workshop.host.name}
      %br
      #{@host_address.to_html}
    - if @workshop.host.address.directions
      %p
        %strong Directions:
        %br
        #{@workshop.host.address.directions}
  %td{ width: '30%', style: 'vertical-align: top;' }
    = image_tag(@workshop.host.avatar, alt: @workshop.host.name)
