name: CI

on: [ push, pull_request ]

jobs:
  test:
    name: 'Tests'
    runs-on: ubuntu-latest

    env:
      # prevent unnecessary log output -- https://bundler.io/man/bundle-config.1.html
      BUNDLE_IGNORE_FUNDING_REQUESTS: true
      BUNDLE_IGNORE_MESSAGES: true
    services:
      postgres:
        image: postgres:17
        ports: ["5432:5432"]
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        # .ruby-version provides the Ruby version implicitly.
        bundler-cache: true

    - name: Setup test database
      env:
        DATABASE_URL: postgres://postgres:postgres@localhost:5432/test
        RAILS_ENV: test
      run:
        bundle exec rake db:create db:migrate

    - name: Run tests
      env:
        DATABASE_URL: postgres://postgres:postgres@localhost:5432/test
        RAILS_ENV: test
      run: bundle exec rake spec
    - name: Report to Coveralls
      continue-on-error: true # Don't fail the build if Coveralls fails to upload.
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.github_token }}
