%ul.dropdown-menu.dropdown-menu-end
  - if current_user.is_admin?
    = render 'layouts/admin_menu'
  - elsif current_user.organiser? || current_user.monthlies_organiser?
    = render 'layouts/organiser_menu'