%footer
  .row
    .large-6.columns
      %p.copyright
        &#169; 2014 codebar

      %p.contact
        Send us an email at
        =mail_to "hello@codebar.io?Subject=Hello%20Codebar", "hello@codebar.io"

    .large-6.columns
      .row
        .medium-12.columns
          = render partial: 'shared/social_media'

  .row
    .large-12.columns.text-right
