- member.each do |member|
  .col-3.text-center
    =link_to twitter_url_for(member.twitter), class: 'user-link' do
      =image_tag(member.avatar(56), class: 'th radius', title: member.full_name, alt: member.full_name)
    %p.mt-3
      = member.full_name
    - if show_info
      = member.mobile
