.row.subscriptions
  .large-6.large-offset-3.columns
    %h2.toggle
      As a Coach
      - if collapsed
        %i.fa.fa-chevron-right
      - else
        %i.fa.fa-chevron-down
    .group-container{class: collapsed ? "collapsed" : ""}
      %p.lead #{link_to("Read our effective teacher guide", "http://codebar.io/effective-teacher-guide")}
      - groups.each do |group|
        %div{id: "group_#{group.id}"}
          - if belongs_to_group?(group)
            = render partial: 'invite_belong_to_group', locals: {group: group}
          - else
            = render partial: 'invite_doesnt_belong_to_group', locals: {group: group}
