- title = local_assigns[:title] ? local_assigns[:title] : t('events.organisers')

#organisers.text-center
  .row
    .col
      %h3= title

  .row
    = render partial: 'members/avatar_listing', locals: { member: members, show_info: show_info }
