.carousel.slider{ 'data-ride': 'carousel' }
  .carousel-inner
    - @testimonials.each_with_index do |testimonial, index|
      .carousel-item{ class: ('active' if index === 0) }
        %blockquote
          %p= testimonial.text
          %footer.clearfix
            = image_tag(testimonial.member.avatar(32), class: 'rounded-circle ml-2', alt: testimonial.member.name)
            %cite.left
              = testimonial.member.full_name
