.container.py-4.py-lg-5
  .row
    .col
      %h1 Update your details
      %p.lead.text-muted Please make sure your details are always up to date.

.container.pb-4.pb-lg-5
  .row
    .col-12.col-lg-3.mb-4
      .bg-light.p-3
        .d-flex.d-lg-block.align-items-center.text-lg-center
          = image_tag(current_user.avatar(80), alt: current_user.full_name, class: 'rounded-circle mb-lg-2')
          %p.mb-0.ms-2.ms-lg-0
            You can change your avatar at
            = link_to('gravatar.com.', 'http://en.gravatar.com/')
    .col-12.col-lg-8.offset-lg-1.mb-4
      = render partial: 'members/new', locals: { submit_text: 'Save' }
