.row
  .col
    %h2 Update your details
    %p Please make sure your details are always up to date.
.row.mb-4
  .col
    .mb-4
      =image_tag(current_user.avatar(75), alt: current_user.name)
    %p
      You can change your avatar at
      =link_to('gravatar.com.', 'http://en.gravatar.com/')
    = render partial: 'members/new', locals: { submit_text: "Save" }
