%section#member
  .titlebox.mission
    %h2
      Become a member
      .dot
    Thanks for signing up. Please fill in your details.
  .description
    %p.lead
      = render partial: 'members/form', locals: { submit_text: "Join #{t("brand")}" }
